@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("hero-bg.jpg"), #000;
  background-position: center;
  background-size: cover;
}

.wrapper {
    width: 433px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    border: 2px solid rgb(43 34 34 / 44%);
    backdrop-filter: blur(2px);

    /* Background transparan 60% */
    background-color: rgba(171, 225, 138, 0.3);
}




hr{
   
    color:white;
    text-align:center;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0px;
  color: #07671f;
}

h3 {
  
  
  margin-top:10px;
  color: #07671f;
}

h4 {
  font-size: 15px;
  margin-bottom: 20px;
  color: #07671f;
}
h6 {
  font-size: 0.5rem;
  margin-bottom: 20px;
  color: #07671f;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #07671f;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
  padding: 5px;
}



.input-field input {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 16px;
    color: #07671f;
    border-radius: 3px;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 0px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #5b933e;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #5b933e;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}